<nav class="nav">
    <div class="logo">
        <img src="../../assets/sugar-cubes.png" alt="">
        <h3>OPenStore</h3>
    </div>
</nav>

<section class="container_all">

    <div class="category_filter">
        <h4>Products</h4>
        <ul>
            <li><a href="">All (12)</a></li>
            <li><a href="">Mobile (8)</a></li>
            <li><a href="">Labtops (4)</a></li>
        </ul>
    </div>

    <div class="products_container">
        <div class="products_head">
            <h3>Products</h3>
            <button>sync</button>
        </div>
        <div class="products">
            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>

            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>

            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>

            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>

            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>
            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>
            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>
            <div class="products_box">
                <img src="../../assets/Header photo.jpg" alt="">
                <div class="box_caption">
                    <h3>product name</h3>
                    <p>product price</p>
                </div>
            </div>

        </div>
    </div>
</section>